.grid{
    height: fit-content;
    width: 65vw;
    margin: 0 auto;
    margin-bottom: 10px;
    justify-content: center;
    display: grid;
    grid-template-rows: 50px 50px 50px 200px;
    backdrop-filter: invert(.2);
    border-radius: 5%;
}

input, select, textarea{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid goldenrod;
    color: goldenrod;
    margin-top: 20px;
    width: 60vw;
}

textarea{
    border: 2px solid goldenrod;
}

input::placeholder, textarea::placeholder, select{
    color: goldenrod;
}

.button{
    margin: 20px 0;
}


