.grid{
    height: fit-content;
    width: 55vw;
    margin: 0 auto;
    margin-bottom: 10px;
    justify-content: center;
    display: grid;
    grid-template-rows: 50px 50px 50px 200px;
    background-color: rgba(60, 69, 67, 0.6);
    border-radius: 15px;
}

input, select, textarea{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid goldenrod;
    color: goldenrod;
    margin-top: 20px;
    width: 50vw;
}

select{
    scrollbar-width: none;
    -ms-overflow-style: none;
}

select::-webkit-scrollbar{
    width: 0;
    height: 0;
}

option{
    background-color: black;
}

textarea{
    border: 2px solid goldenrod;
    border-radius: 15px;
}

input::placeholder, textarea::placeholder, select{
    color: goldenrod;
}

.button{
    margin: 20px 0;
}


